body {
  /* background-color: #f6f6f6; */
background-image: url(images/background.jpg);
background-size: cover;
}

/* Navbar */
.navbar {
  /* background: rgba(0, 0, 0, 0.5); */
  padding: 0 0 4rem;
  margin: 1.5rem;
}

/* Welcome Box */

.flexbox-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 80%;
  margin: auto;
  justify-content: center;
}

.flexbox-item {
  margin: 2rem;
}

.flex-welcomeHeading {
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
}

.button-container {
  display: inline-block;
  position: relative;
  border: 3px solid #fff;
  box-shadow: 15px 20px 8px rgba(0, 0, 0, 0.19);
}

.login-button-home {
  position: absolute;
  font-weight: 500;
  top: 30%;
  left: 43%;
}

.search-button {
  position: absolute;
  font-weight: 500;
  top: 50%;
  left: 42%;
}

#cutting-board {
  max-width: 500px;
  height: auto;
}

/* Login Flexbox */

.flex-menus{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 500px;
  background-color: #f6f6f6;
  margin: 1.5rem;
  padding: 1rem;
  box-shadow: 15px 20px 8px rgba(0, 0, 0, 0.19);
}

/* Signup.php Button Stylings */

.signup-button {
margin-bottom: 12px;
}

/* Login.php Button Stylings */

.login-button {
  margin-bottom: 10px;
}

/* Error Text Styling */

.error-text {
  font-weight: 500;
  color: red;
}

/* Footer */

#footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
color: white;
text-align: center;
}


/* Testing */
.show-cart li {
  display: flex;
}
.card {
  margin-bottom: 20px;
}
.card-img-top {
  width: 200px;
  height: 200px;
  align-self: center;
}


/* MODAL */
/* Adjusts cart to slide bottom-up not top-down */
.animate-bottom {
  position: relative;
  animation: animatebottom 0.4s;
}

@keyframes animatebottom {
  from {
    bottom: -600px;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}
/* Keeps cart to center of page */
.modal.fade .modal-dialog {
    -webkit-transform: translate(0,100%);
    -ms-transform: translate(0,100%);
    -o-transform: translate(0,100%);
    transform: translate(0,100%);
}

/* testing */
/* Nav Layout */
.flexbox-container-menuNav {
  display: flex;
  margin: 1rem 3rem 3rem;
  background: white;
  border: 3px solid black;
}

.menuNav-box {
  margin-right: 20px;
  margin-left: 20px;
  font-weight: bold;
  align-items: baseline;
}

.menuNav-box-name {}

.menuNav-box-type {}

.menuNav-box-time {
  flex-grow: 2;
}

.menuNav-box-search {

}

.search-form {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.menuNav-box-cart {}

/* Centers Menu.php's nav text in middle of nav bar */
.menuNav-p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* Menu Layout */

.flexbox-container-menu {
display: flex;
margin: 1.5rem;
/* background: white; */
}

.flexbox-container-aside {
  display: flex;
  flex-direction: column;
}

.menu-box {
  margin: 10px;
  border: 3px solid black;
  padding: 10px;
  background: white;
  text-align: center;
}

.menu-box-menu {
  width: 200px;
  flex-grow: 0;
}

.menu-title-box {
  align-self: stretch;
}

.menu-box-cart-items {
  width: 200px;
  flex-grow: 0;
}
.menu-box-contact {
}

/* Below flex contains "Menu Items header + food items" */
.menu-box-menu-items {

  flex-grow: 2;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}

/* Menu-Items.php stylings */
/* Food Items */

.menu-items-inner-flexbox {
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-weight: bold;
  align-self: center;

}

/* Adjusts the specific food item's css */
.menu-inner-items {
  /* border: 3px solid black; */
  margin: 6px;
  padding: 6px;
}

.message_box .box{
 margin: 10px 0px;
 border: 1px solid #2b772e;
 text-align: center;
 font-weight: bold;
 color: #2b772e;
}

.cart-icon {
  width: 35px;
  height: 35px;
}

.cart_div {
 float:right;
 font-weight:bold;
 position:relative;
 top: 50%;
 transform: translateY(-50%);
 }
.cart_div a {
 color:#000;
 }
.cart_div span {
 font-size: 12px;
 line-height: 14px;
 background: #F68B1E;
 padding: 2px;
 border: 2px solid #fff;
 border-radius: 50%;
 position: absolute;
 top: -1px;
 left: 13px;
 color: #fff;
 width: 20px;
 height: 20px;
 text-align: center;
 }

 /* Cart Table */
 .table td {
  border-bottom: #F0F0F0 1px solid;
  padding: 10px;
  }
